{% extends "menu.html" %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block pagename %}
    <h1>{{ title_games }}</h1>
{% endblock %}

{% block page %}
        <div class='menu'>
            <blockquote><a href="">Главная страница</a></blockquote>
            <blockquote><a href="{{ url_for('games:page_games') }}">Игры</a> </blockquote>
            <blockquote><a href="{{ url_for('registration:page_registration') }}">Регистрация</a> </blockquote>
        </div>
{% endblock %}

{% block page %}
        <div class="menu">
            <h2>{{ games.title }}</h2>
            <p>{{ games.cost }}</p>
            <p>{{ games.size }}</p>
            <p>{{ games.description }}</p>
            <p>{{ games.age_limited }}</p>
        </div>
{% endblock %}

{% block button_page %}
    {{ super() }}
{% endblock %}








{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% for game in gamess %}
        <ul>
            <li>{{ game.title }} | {{ game.description }}. Стоимость {{ game.cost }} руб. <a href=""><button> {{ buy }} </button></a></li>
        </ul>
    {% endfor %}
{% endblock %}